.contact h3 {
    text-align: left;
    color: #46CFBE;
}

.contact h2 {
    text-align: center;
    color: #46CFBE;
}

.item {
    font-size: 14px;
}

.item button {
    background-image: linear-gradient(#31ffe5, #23685f);
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    min-width: 400px;
    text-align: left;
    border: none;
    box-shadow: 5px 10px rgba(192, 191, 191, 0.784);
}

.item p {
    margin: 20px 0px;
}

.contact {
    margin: 30px 60px;

}

.hr {
    height: 15px;
    background-image: linear-gradient(#31ffe5, #23685f);
    ;
    margin: 20px 0px;
}