.container {
    background:url('../assets/images/login-background.png');
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-flow: row-reverse;
    justify-content: space-around;
    text-align: center;
    height: calc(100vh - 100px);
}
.banner {
    width: 50%;
    height: 60%;
    background:url('../assets/images/signuppage.jpg') no-repeat;
    background-size:cover;
    text-align: center;
    margin: auto 20px;
    align-items:center;

    
}

.wrapper {
    border: 1px solid #707070;
    border-radius: 25px;
    background-color: #CEE7E5;
    display: inline-block;
    padding: 50px 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
}

.container form h1 {
    color: #6CB0C5;
    margin-top: 0;
}

.container form input {
    display: block;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
}

.container a {
    text-decoration: none;
}

.forgot_password {
    float: right;
}

.signup_button {
    color: white;
    background-color: #6CB0C5;
    border: none;
    border-radius: 18px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0px;
}

.third_party_wrapper {
    display: flex;
    justify-content: space-evenly;
}

.third_party_wrapper button {
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
    padding: 12px 20px 7px;
}

.third_party_wrapper button img {
    width: 20px;
}