.top {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    flex-basis: auto;
}

.top ul {
    padding: 0;
    list-style: none;
}

.top li a {
    text-decoration: none;
    color: #AAA9A9;
    padding-left: 10px;
}

.basic_info p {
    font-size: 14px;
}

.about li::before {
    content: "→";
}

.services li::before {
    content: "→";
}

.connect {
    max-width: 300px;
}

.connect li {
    display: inline;
}


.connect p {
    color: #AAA9A9;
}

.connect .tel {
    font-weight: bold;
    margin-right: 30px;
}

.connect .email {
    color: #688095;
}

.bottom {
    background-color: #46cfbe;
    color: white;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}

.bottom ul {
    list-style: none;
    margin-left: auto;
}

.bottom li {
    display: inline;
    margin-left: 30px;
}

.bottom li a {
    text-decoration: none;
    color: white;
}
